<li *ngIf="!person.ghost">
    <div class="person">
        <div class="family">
            <p>
                <input class="name" type='text' [(ngModel)]="person.name" />
                <select class="gender" [(ngModel)]="person.male">
                    <option value="true">M</option>
                    <option value="false">F</option>
                </select>
            </p>
            <p class="details">
                <span *ngIf="person.birth != null">{{person.birth | date:'dd/MM/yyyy'}}</span>
                <span *ngIf="person.birth == null">*</span>
                <span *ngIf="person.death != null"> - {{person.death | date:'dd/MM/yyyy'}}</span>
            </p>
            <app-action-buttons [removeFunction]="remove.bind(this)" [person]="person" [actionAdd]="actionAdd">
            </app-action-buttons>
        </div>
        <span *ngIf="person.spouse != null && !person.spouse.ghost" class="spacer"></span>
        <div *ngIf="person.spouse != null  && !person.spouse.ghost" class="outsider">
            <p>
                <input class="name" type='text' [(ngModel)]="person.spouse.name" />
                <span class="gender">:{{person.spouse.male ? 'M' : 'F'}}</span>
            </p>
            <p class="details">
                <span *ngIf="person.spouse.birth != null">{{person.spouse.birth | date:'dd/MM/yyyy'}}</span>
                <span *ngIf="person.spouse.birth == null">*</span>
                <span *ngIf="person.spouse.death != null"> - {{person.spouse.death | date:'dd/MM/yyyy'}}</span>
            </p>
            <app-action-buttons showAdd="false" canRemoveChildrens="false" [removeFunction]="removeSpouse.bind(this)" [person]="person.spouse">
            </app-action-buttons>
        </div>
    </div>

    <ul class="childrens" *ngIf="person.childrens != null && person.childrens.length > 0">
        <app-person (removed)="childrenRemoved($event)" *ngFor="let children of person.childrens" [person]="children">
        </app-person>
    </ul>
</li>

<ng-container *ngIf="person.ghost">
    <app-person (removed)="childrenRemoved($event)" *ngFor="let children of person.childrens" [person]="children">
    </app-person>
</ng-container>