<nav class='navbar navbar-expand-md navbar-light bg-light'>
    <div class='container'>
        <a class='navbar-brand' href='/' rel='home'>Árvore genealógica</a>
        <button class='navbar-toggler' type='button' (click)='isCollapsed = !isCollapsed'
            aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Alterar navegação'>
            <i class="fas fa-bars"></i>
        </button>

        <div class='collapse navbar-collapse' id='navbarSupportedContent' [collapse]='isCollapsed'>
            <ul class='navbar-nav ml-auto'>
                <li class='nav-item'>
                    <a class='nav-link' routerLink='/'>Início</a>
                </li>
            </ul>
        </div>
    </div>
</nav>