<div class="person-page h-100">
    <div class="container h-100">
        <div class="row h-100">

            <div class="col-12">
                <div *ngIf="personLoaded" class="h-100">
                    <drag-scroll class="tree-wrapper">
                        <div class="tree">
                            <ul class="childrens">
                                <app-person [person]="person"></app-person>
                            </ul>
                        </div>
                    </drag-scroll>
                </div>
            </div>
        </div>
    </div>
</div>